body {
    padding: 0;
    margin: 0;
}
 
form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    border-color: #FFFFFF;
    border: solid;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
 
h1 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #000000;
}

div#pQuadroConnectorNFeCTeMDFeid{
  border-style: solid;
  margin-left: 10px;
  margin-right: 600px;
  margin-bottom: 10px;
  text-align: center;
  align-content: right;
  min-width: 100px;
  max-width: 500px;
  min-height: 100px;
  max-height: 500px;
  font-weight: bold;
  display: none;
}

div#pQuadroAmbientesid{
  border-style: solid;
  font-weight: bold;
  display: none;
  margin-bottom: 10px;
  margin: auto;
  width: 30%;
  margin-bottom: 10px;
}



div#divQuadroVolumetriaEmiid{
    visibility: hidden;
    text-align: right;
    margin-right: 50%;
    margin-left: 5%;
    float: left;
}

div#divQuadroVolumetriaEntid{
    visibility: hidden;
    text-align: right;
    margin-right: 10%;
    margin-left: 40%;
    float: right;   
}

div#divLabelVolumetriaEmiid{
    visibility: hidden;
    margin-bottom: 2%;
    margin-top: 8%;
    margin-left: 5px;
}

div#divLabelVolumetriaEntid{
    visibility: hidden;
    margin-top: -85%;
}

div#divVolumetriaEmiNFeid{
    visibility: hidden;
}

input#VolumetriaEmiNFeid{
    width: 90px;
    
}

div#divVolumetriaEmiCTeid{
    visibility: hidden;  
}

input#VolumetriaEmiCTeid{
    width: 90px;
}

div#divVolumetriaEmiMDFeid{
    visibility: hidden;  
}

input#VolumetriaEmiMDFeid{
    width: 90px;
}

div#divSeparaVolumetriaEmiid{
    display: none;
    height: 100px;
    border-left: 2px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #000000;
    margin-left: 135px;
    margin-bottom: 10px;
    margin-top: -110px;
}

div#divVolumetriaEntNFeid{
    visibility: hidden;
}

input#VolumetriaEntNFeid{
    width: 90px;
}

div#divVolumetriaEntCTeid{
    visibility: hidden;
}

input#VolumetriaEntCTeid{
    width: 90px;
}

div#divVolumetriaEntMDFeid{
    visibility: hidden;
}

input#VolumetriaEntMDFeid{
    width: 90px;
}

div#divQtdeAgentDCid{
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#CheckAgentCentralizadoid{
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#divQtdeCNPJRaizid{
    display: none;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 100px;
}

div#divQtdeCNPJFilialid{
    display: none;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 100px;
}

div#divAmbientesid{
    display: none;
    margin-top: 10px;
    display: none;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

div#divSeparaTipoProdutosid{
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #000000;
}

div#divSeparaVolumetriaCimaid{
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    border-color: #000000;
}

input[type=checkbox] {
    width: 50px;
    text-align: right;
}
 
input[type=text] {
display: inline-block;
padding-left: 10px;
}

/*BOTÕES*/
input[type=button]#btn_Ir_Para_Tipo_Produtosid{
    color:#08233e;
    font-size:100%;
    margin-left: 2%;
    margin-bottom: 1%;
    cursor:pointer;
}

input[type=button]#btn_Voltar_Selecao_Produtosid{
    color:#08233e;
    font-size:100%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor:pointer;
}

input[type=button]#btn_Ir_Volumetriasid{
    color:#08233e;
    font-size:100%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor:pointer;
}

input[type=button]#btn_Voltar_Tipo_Produtosid{
    color:#08233e;
    font-size:100%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor:pointer;
    display: none;
}

input[type=button]#btn_Ir_Para_Ambienteid{
    color:#08233e;
    font-size:100%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor:pointer;
    display: none;
}

div#divBotoesGerarExtratoid{
    display: none;
    color:#08233e;
    font-size:100%;
    margin-left: 2%;
    margin-bottom: 2%;
    cursor:pointer;
}

input[type=button]:disabled {
    color:#08233e;
    font-size:100%;
    /* ... other rules ... */
    cursor: not-allowed;
    opacity: 0.65;
}


label#eForms_NFeLabelid{
    display: none;
}

label#eForms_Entry_NFeLabelid{
    display: none;
}

label#eForms_CTeLabelid{
    display: none;
}

label#eForms_EntryCTeLabelid{
    display: none;
}

label#eForms_MDFeLabelid{
    display: none;
}

label#eForms_EntryMDFeLabelid{
    display: none;
}

table{
    background: #ffc;
    font-family: Verdana,Tahoma,sans-serif;
    table-layout: fixed;
    max-width: 700px;
}
tr#tr1{
    font-weight: bold;
}
tr#tr2{
    font-weight: bold;
}
tr#tr4{
    font-weight: bold;
    margin-left: 5px
}
tr#tr10{
    font-weight: bold;
}
tr#tr16{
    font-weight: bold;
}
tr#tr17{
    font-weight: bold;
}